/* ================================= */
/* Root Variables and Utility Styles */
/* ================================= */
html {
  --bottom-right-background-gradient: linear-gradient(
          to bottom right,
          var(--background-color),
          var(--dark-background-color)
  );

  --top-right-background-gradient: linear-gradient(
          to top right,
          var(--background-color),
          var(--dark-background-color)
  );

  --primary-site-color: rgb(237, 41, 55);
  --secondary-site-color: rgb(193, 12, 46);
  --tertiary-site-color: rgb(193, 12, 46);

  --primary-site-color-transparent: rgba(237, 41, 55, 0.3);
  --secondary-site-color-transparent: rgba(193, 12, 46, 0.3);
  --tertiary-site-color-transparent: rgba(193, 12, 46, 0.3);

  --background-color: rgba(19, 18, 18, 0.37);
  --dark-background-color: rgba(0, 0, 0, 0.9);
  --secondary-background-color: rgba(46, 23, 31, 0.66);

  --preloader-bg: #130505;

  --navbar-toggler: var(--secondary-site-color);
  --navbar-underline: var(--primary-site-color);

  --mobile-navbar-bg: var(--secondary-background-color);

  --sticky-bg-rgba: var(--secondary-background-color);
  --sticky-shadow-rgba: rgba(9, 5, 29, 0.171);

  --white: #ffffff;
  --footer-bg: var(--secondary-background-color);

  --project-card-shadow:  var(--tertiary-site-color);
  --project-card-hover-shadow: var(--primary-site-color);

  --project-card-gradient: linear-gradient(140deg, rgba(94, 20, 22, 0.7) 0%, rgba(71, 18, 22, .1) 80%, rgba(41, 17, 21, .1) 100%);

  --fork-btn-inner-background-color: var(--primary-site-color-transparent);
  --fork-btn-inner-hover-background-color: var(--secondary-site-color-transparent);
  --fork-btn-inner-hover-border-color: var(--primary-site-color);
}

.heading-text {
  color: var(--primary-site-color) !important;
  text-shadow: 0 0 6px var(--primary-site-color);
}

.secondary-heading-text {
  color: var(--secondary-site-color) !important;
  text-shadow: 0 0 6px var(--secondary-site-color);
}

.body-text {
  color: var(--tertiary-site-color) !important;
  text-shadow: 0 0 6px var(--tertiary-site-color);
}

.body-text a {
  color: var(--tertiary-site-color);
}

button:focus {
  box-shadow: none !important;
}

#no-scroll {
  overflow: hidden;
  height: 100vh;
}

/* =============== */
/* Preloader Styles */
/* =============== */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: var(--preloader-bg);
  background-image: url(./Assets/pre.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#preloader-none {
  opacity: 0;
}

/* ============== */
/* Navbar Section */
/* ============== */

.sticky {
  background-color: var(--sticky-bg-rgba) !important;
  transition: all 0.3s ease-out 0s !important;
  box-shadow: 0px 10px 10px 0px var(--sticky-shadow-rgba) !important;
  backdrop-filter: blur(15px) !important;
}

.navbar {
  position: fixed !important;
  transition: all 0.3s ease-out 0s !important;
  padding: 0.3rem 2rem !important;
  font-size: 1.2rem !important;
}

.navbar-toggler {
  position: relative !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.navbar-toggler span {
  display: block !important;
  background-color: var(--navbar-toggler) !important;
  height: 4px !important;
  width: 27px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  transform: rotate(0deg) !important;
  left: 0 !important;
  opacity: 1 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0 !important;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: transform 0.35s ease-in-out !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(135deg) !important;
  opacity: 0.9 !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px !important;
  visibility: hidden !important;
  background-color: transparent !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(-135deg) !important;
  opacity: 0.9 !important;
}

.navbar-brand {
  color: var(--white) !important;
}

.logo {
  height: 1.6em !important;
  width: 1.6em !important;
}

@media (max-width: 400px) { .name-text  { display: none; } }

.navbar-nav .nav-link {
  color: var(--white) !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.nav-link {
  padding: 0.8rem 1rem !important;
}

.navbar-nav .nav-item {
  position: relative;
  margin-left: 20px;
  align-items: center;
}

.icon-text-wrapper{
  white-space: nowrap;
  align-items: center;
}

.navbar-nav .nav-item a {
  font-weight: 400;
  transition: all 0.3s ease-out 0s;
  position: relative;
  z-index: 1;
}

.navbar-nav .nav-item a::after {
  content: "";
  position: relative;
  display: block;
  height: 5px;
  width: 0;
  border-radius: 16px;
  background: var(--navbar-underline);
  bottom: 1px;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
}

.navbar-nav .nav-item a:hover::after {
  width: 100%;
}

@media (max-width: 992px) {
  .navbar {
    padding: 1rem 2rem !important;
    font-size: 1.4rem !important;
    background-color: var(--mobile-navbar-bg) !important;
  }

  .navbar-nav {
    margin-top: 10px;
  }

  .navbar-nav .nav-link {
    color: var(--white);
    padding: 10px 20px;
  }
}

/* ============== */
/* Home Section */
/* ============== */

#tsparticles {
  position: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100%;
  height: 100%;
}

.home-section {
  position: relative;
  z-index: 1;
  background-image: var(--top-right-background-gradient);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 30px !important;
  padding-top: 30px !important;
  scale: inherit;
}

.video-wrapper {
  aspect-ratio: 16 / 9;
  position: relative;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.video-wrapper iframe,
.video-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.steam-iframe-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-height: 225px;
}

.steam-iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home-content {
  padding: 5rem 0 2rem !important;
  color: whitesmoke;
  text-align: center;
}

.Typewriter__wrapper {
  font-size: 2.2em !important;
  color: var(--secondary-site-color) !important;
  text-shadow: 0 0 6px var(--secondary-site-color);
}

.Typewriter__cursor {
  font-size: 2.4em !important;
  color: var(--secondary-site-color) !important;
}

.social-icons {
  display: inline-block !important;
  padding-right: 15px;
  padding-left: 15px;
}

/* ============ */
/* Footer Styles */
/* ============ */

.footer {
  background-color: var(--footer-bg);
  bottom: 0 !important;
  padding-top: 10px !important;
  padding-bottom: 8px !important;
}

.footer-copywright {
  text-align: center !important;
}

.footer-body {
  z-index: 1;
  text-align: center !important;
}

@media (max-width: 767px) {
  .footer-copywright,
  .footer-body {
    text-align: center !important;
  }
}

.footer h3 {
  font-size: 1em;
  color: var(--white) !important;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}

.footer-icons {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  padding: 0 !important;
}

/* ================ */
/* Projects Section */
/* ================ */

.project-section {
  padding: 5rem 0 0 !important;
  background-image: var(--bottom-right-background-gradient) !important;
  padding-bottom: 80px !important;
}

.project-narrow-container {
  max-width: 1200px;
  justify-content: center;
}

.project-card {
  background-color: transparent !important;
  color: var(--white) !important;
  transition: all 0.5s ease 0s !important;
  box-shadow: 1px 4px 5px 3px var(--project-card-shadow) !important;
  margin: 0 auto;
}

.project-card:hover {
  transform: scale(1.02) !important;
  box-shadow: 1px 4px 4px 5px var(--project-card-hover-shadow) !important;
}

.card-img-top {
  opacity: 0.95 !important;
  aspect-ratio: 16 / 9
}

.project-heading {
  color: var(--white) !important;
  font-size: 2.3em !important;
  font-weight: 500 !important;
  padding-top: 10px !important;
}

/* ================ */
/* About Section */
/* ================ */

.about-section,
.project-page {
  position: relative !important;
  padding: 5rem 0 2rem !important;
  background-image: var(--top-right-background-gradient) !important;
  color: var(--white) !important;
}

.project-page {
  padding-top: 100px !important;
  padding-bottom: 30px !important;
}

.techstack-icons {
  margin: 10px !important;
  opacity: 0.93 !important;
  border: 1px solid var(--tertiary-site-color) !important;
  vertical-align: middle !important;
  text-align: center !important;
  border-radius: 20px !important;
  display: table !important;
  box-shadow: 4px 5px 4px 3px var(--tertiary-site-color-transparent) !important;
  transition: all 0.4s ease 0s !important;
  padding: 10px !important;
  background: var(--project-card-gradient);

}

.techstack-icons {
  font-size: 4em !important;
}

.techstack-icons:hover {
  transform: scale(1.05) !important;
  border: 1px solid var(--secondary-site-color) !important;
  box-shadow: 4px 5px 4px 3px var(--secondary-site-color-transparent) !important;
}

.tech-icon-images {
  padding: 20px !important;
  line-height: 1.6 !important;
}

.icon-svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  justify-content: center;
  align-items: center;
}

.icon-box {
  width: 80px;
  height: 80px;
  min-width: 80px;
  max-width: 80px;
  min-height: 80px;
  max-height: 80px;

  /* Center everything inside if desired */
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-card-view {
  border: none !important;
  background-color: transparent !important;
  color: var(--white) !important;
}

.icon-label,
.icon-label-small {
  margin-top: 5px;
  font-weight: bold;
  text-align: center;
}

.icon-label {
  font-size: 14px;
}

.icon-label-small {
  font-size: 10px;
}

.about-activity,
.bullet-list {
  list-style: none !important;
  text-align: left !important;
  padding-left: 1px !important;
}

.bullet-list {
  padding: 10px 0 30px;
  margin: 0;
}

.bullet-item {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  margin-bottom: 0.1rem;
}

.bullet-icon {
  margin-top: 0.25rem;
  flex-shrink: 0;
}

@media (max-width: 767px) {
  .about-img {
    padding-top: 0 !important;
  }
}

/* ================= */
/* Resume Section */
/* ================= */

.pdf-page {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  width: 100%;
  overflow: hidden;
}

.pdf-page canvas {
  max-width: 100%;
  height: auto !important;
  object-fit: contain;
  margin: 0 auto;
}

.pdf-section {
  position: relative !important;
  padding-top: 110px !important;
  padding-bottom: 30px !important;
  background-image: var(--bottom-right-background-gradient) !important;
  color: var(--white) !important;
}

/* ============== */
/* Interactive Buttons */
/* ============== */

.fork-btn {
  font-size: 1.1em !important;
  padding-top: 10px !important;
  border-color: var(--fork-btn-inner-hover-border-color) !important;
}

.fork-btn-inner {
  line-height: 1.4em !important;
  background-color: var(--fork-btn-inner-background-color) !important;
  padding: 0.25rem 1.1rem !important;
  vertical-align: middle !important;
  text-align: center !important;
  border-color: var(--fork-btn-inner-hover-background-color) !important;
}

.fork-btn-inner:hover {
  transform: translateY(-2px) !important;
  background-color: var(--fork-btn-inner-hover-background-color) !important;
  border-color: var(--fork-btn-inner-hover-border-color) !important;
}

.fork-btn-inner:focus {
  outline: none !important;
  box-shadow: none !important;
}

.fork-btn-inner::after {
  display: none !important;
}

/* ============ */
/* Section Spacing */
/* ============ */

section {
  margin-bottom: 80px;
}
